{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block styles %}
    <link href="{% static "project2cont/css/Round.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Period 2
{% endblock %}

{% block content %}

<div class="jumbotron">

<div id="string">
</div>

<br>

<input type="text" id="player_guess" autofocus>
</input>
Time spent in the current string:
<span id="min">00</span>:<span id="sec">00</span>

<br>

<input type="hidden" name="output4b" id="id_output4b"/>

<p align="right">
    <button id="Switch_button" button = "button">Switch</button>
</p>

</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "project2cont/js/Round4b.js" %}"></script>
{% endblock %}